h1 {
    font-family: "Montserrat Black";
    color: #ffffff;
}

.item2 {
    background-color: white;
}

.circle1 {
    height: 230px;
    width: 230px;
    border-radius: 50%;
    background-color: #2b7a78;
    z-index: -100;

    margin-left: auto;
    margin-right: auto;
    margin-top: -125px;
    margin-bottom: -130px;

    box-shadow: -13px -7px 20px rgba(0, 0, 0, 0.4);

}

img.center {
    margin-top: -10px;
    height: 200px;
    width: 200px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;

    z-index: 99;

}

.circle2 {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #FFFFFF;
    z-index: 1000;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #DEF2F1;
    min-height: 0px;

}

.title {
    padding: 20px;
    text-align: center;
    height: 230px;
    background-color: #3aafa9;
    margin-top: -20px;
}

.profile_picture {
    margin-top: -215px;
}

#name {
    margin-top: 40px;
    font-family: "Open Sans Extrabold";
    font-size: larger;
    text-align: center;
}

#bio {
    padding: 0px 0px;

}

table {
    margin-top: 20px;
}

td, th {
    padding: 10px;
}

table, tr, td {
    font-family: "Open Sans";
    font-size: 13px;
}

table, tr, td#subject {
    padding: 5px;

    font-family: "Open Sans Semibold";

}

table, tr, td#value {
    padding-left: 50px;
    padding-right: 5px;
}

@media (max-width: 768px){
    table, tr, td#value {
        padding-left: 30px;
    }
}

.expertise {
    border-radius: 20px;

    background: linear-gradient(to right, #2b7a78, #3aafa9);

    float: left;

    margin-right: 10px;
    margin-bottom: 10px;

    padding: 7px 12px;

    color: #ffffff;
}


.gradient-background {
    height: 100vh;
    background: #def2f1; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#3aafa9, #def2f1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3aafa9, #def2f1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3aafa9, #def2f1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3aafa9, #def2f1); /* Standard syntax (must be last) */

}

@media (min-width: 1200px){
    .container{
        width: 1070px;
    }
}