#page-title-div {
    margin: 5px 19% 5px;
}

#page-title-div h1 {
    font-family: inherit;
    font-size: 40px;
    border-bottom: solid 1px #2b7a78;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row {
    width: auto;
    border: 1px solid blue;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.stats-card {
    font-family: 'Roboto', Arial, sans-serif;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 100px;
    max-width: 430px;
    max-height: 147px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    border-top: 5px solid #2b7a78;
    color: #9e9e9e;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.stats-card *,
.stats-card *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.stats-card figcaption {
  padding: 4% 10% 14%;
}

.stats-card i {
  font-size: 15px;
    color: #fff;
    width: 40px;
    line-height: 40px;
    background-color: #2b7a78;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    text-align: center;
    display: inline-block;
    height: 40px;
}

.stats-card h3 {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 10px 0;
}

.stats-card p {
  font-size: 0.9em;
  font-weight: 300;
  margin: 0 0 20px;
}

.profile-area {
      text-align: center;
    font-family: 'Lato', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 0px 10px 0px 10px;
    min-width: 250px;
    max-width: 900px;
    color: #2B2B2B;
    font-size: 16px;
    max-height: 500px;
}

.profile-area * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.profile-area .profile-image {
  padding: 5% 10% 0
}

.profile-area .profile-image img {
  max-width: 30%;
  vertical-align: top;
  position: relative;
  border-radius: 50%;
}

.profile-area figcaption {
  padding: 5% 10% 15%;
}

.profile-area h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 3px 0;
}

.profile-area h5 {
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #888;
  letter-spacing: 1px;
}

.profile-area .icons i {
  color: #999;
  display: inline-block;
  margin-right: 5px;
  font-size: 1.5em;
}

.profile-area .icons i:hover {
  color: #555;
}

.profile-area .icons i a {
  text-decoration: none;
}