/* body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
} */

header {
    background-color: white;
}

footer {
    display: block;
    position: absolute;
    background-color: transparent; /*edit*/
    text-align: center;
    padding: 1rem 1rem; /*edit*/
    color: #2b7a78;
    width: 100%;
}

/*.navbar {
  background-color: #ffffff;
}
.navbar-default {
    border-color: white;
}
.navbar .navbar-brand {
  color: #2b7a78;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #def2f1;
}
.navbar .navbar-text {
  color: #2b7a78;
}
.navbar .navbar-nav .nav-link {
  color: #2b7a78;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #def2f1;
}

.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #def2f1;
  background-color: #2b7a78;
}
.navbar .navbar-toggle {
  border-color: #2b7a78;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #2b7a78;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #2b7a78;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #2b7a78;
}
.navbar .navbar-link {
  color: #2b7a78;
}
.navbar .navbar-link:hover {
  color: #def2f1;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #2b7a78;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #def2f1;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #def2f1;
    background-color: #2b7a78;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #2b7a78;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #def2f1;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #def2f1;
    background-color: #2b7a78;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #2b7a78;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #def2f1;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #def2f1;
    background-color: #2b7a78;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #2b7a78;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #def2f1;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #def2f1;
    background-color: #2b7a78;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #2b7a78;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #def2f1;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #def2f1;
  background-color: #2b7a78;
}*/

.navbar-default {
  background-color: #2b7a78;
  border-color: #3aafa9;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #def2f1;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #def2f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #2b7a78;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #def2f1;
  background-color: #3aafa9;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #3aafa9;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #def2f1;
  background-color: #3aafa9;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #def2f1;
  background-color: #3aafa9;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #def2f1;
  background-color: #3aafa9;
}
.navbar-default .navbar-toggle {
  border-color: #3aafa9;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #3aafa9;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #def2f1;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #def2f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #def2f1;
    background-color: #3aafa9;
  }
}

.navbar-header{
    font-family:"Montserrat Black";
}

.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
