{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}

<div class= "container">
    <div id="add-friend-title">
        <h2>Add Friend</h2>
    </div>
    <section name ="form_friend">
        <form id ="form_friend" method = "POST" action ="{% url 'add-friend:add_new_friend' %}">
            {% csrf_token %}
            {{ add_friend }}
            <br>
            <button type="submit" class="btn btn-default">Add Friend</button>
        </form>
    </section>
    <br>
    <div id="list-friend-title">
        <h2>List Friend</h2>
    </div>
    <div id="table-friend">
        <table class="table">
            <tbody>
                {% for i in friend_list %}
                <tr>
                    <td> {{ i.name }}</td>
                    <td> <a href= "{{i.url}}">{{ i.url }} </a></td>
                    <td> Added {{ i.date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
