body {
    min-height: 2000px;
  }
  
  .navbar-static-top {
    margin-bottom: 19px;
  }
  /*Textarea not resizeable*/
  textarea {
      resize:none
  }

  #add-friend-title{
    color : red;
  }

  .form-control{
    width : 50px ;
  }