body {
    min-width: 0;
}

#page-title-div {
    margin: 5px 19% 5px;
}

#page-title-div h1 {
    font-family: inherit;
    font-size: 40px;
    border-bottom: solid 1px #2b7a78;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    width: auto;
}

#stats-card-area {
    height: 200px;
    text-align: center;
    font-family: 'Lato', Arial, sans-serif;
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 0px 10px 0px 10px;
    max-width: 950px;
    color: #2B2B2B;
    font-size: 16px;
    max-height: 500px
}

.stats-card {
    font-family: 'Roboto', Arial, sans-serif;
    position: relative;
    float: left;
    margin: 10px;
    min-width: 100px;
    max-width: 430px;
    max-height: 147px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    border-top: 5px solid #2b7a78;
    color: #9e9e9e;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.stats-card *,
.stats-card *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.stats-card figcaption {
  padding: 4% 10% 14%;
}

.stats-card i {
    font-size: 15px;
    color: #fff;
    width: 40px;
    line-height: 40px;
    background-color: #2b7a78;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    text-align: center;
    display: inline-block;
    height: 40px;
}

.stats-card h3 {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 10px 0;
}

.stats-card p {
  font-size: 0.9em;
  font-weight: 300;
  margin: 0 0 20px;
}

.profile-area {
    text-align: center;
    font-family: 'Lato', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 0px 10px 0px 10px;
    min-width: 250px;
    max-width: 900px;
    color: #2B2B2B;
    font-size: 16px;
    max-height: 500px;
}

.profile-area * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.profile-area .profile-image {
  padding: 5% 10% 0
}

.profile-area .profile-image img {
  max-width: 40%;
  vertical-align: top;
  position: relative;
  border-radius: 50%;
}

.profile-area figcaption {
    padding: 5% 10% 5%
}

.profile-area h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 3px 0;
}

#latest-post-title {
  text-align: center; 
}

@media screen and (max-width: 900px) {
    #stats-card-area {
        display: flex;
    }

    .stats-card figcaption {
        padding: 10% 10% 14%;
    }

    #latest-post-title {
        text-align: center;
        position: relative;
        overflow: hidden;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}

.post-container {
    background: #fff;
    border-radius: 5px;
    font-family: "adelle-sans", sans-serif;
    font-weight: 100;
    margin: 48px;
    width: 100rem;
    position: relative;
    overflow: hidden;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 250px) {
    .post-container {
        width: 27rem;
    }
}
@media screen and (min-width: 767px) {
    .post-container {
        width: 27rem;
    }
}
@media screen and (min-width: 959px) {
    .post-container {
        width: 100rem;
    }
}

.post-header {
    padding-top: 30px;
}

.post-container a {
  color: #4d4dff;
  text-decoration: none;
  transition: .25s ease;
}

.post-cover {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/17779/yosemite-3.jpg");
  background-size: cover;
  border-radius: 5px 5px 0 0;
  height: 15rem;
}
.post-author,
.post-author--no-cover {
    padding-top: .125rem;
    width: 80%;
    display: inline-flex;
    margin-left: 10%;
}
#img-profile-post-area {
    border-radius: 50%;
    display: inline-block;
    height: 60px;
    margin-right: 1.5rem;
    position: static;
    top: 8px;
    width: 60px;
}
.post-author h3 {
  color: #fff;
  font-weight: 100;
}
.post-author--no-cover h3 {
  font-weight: 100;
}

.post-summary p {
    margin: 0 0 10px 75px;
}

.post-body {
  margin: 0 auto;
  width: 80%;
}
.video-body {
  height: 100%;
  width: 100%;
}
.post-title h1 a {
  color: #333;
  font-weight: 100;
}

.post-footer {
  margin: 0 auto;
  padding-bottom: .125rem;
  width: 80%;
}
.post-footer ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding-left: 0;
}
.post-footer li:first-child {
  margin-right: 10px;
}
.post-footer li + li {
  margin-left: .5rem;
}
.post-footer li {
  font-size: .75rem;
  height: 1.5rem;
  letter-spacing: 1px;
  line-height: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  white-space: nowrap;
}
.published-date {
  border-radius: 3px;
  padding: 0 .5rem;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#switch-theme-area {
    padding-top: 4%;
}

.post-container:hover {
    -webkit-box-shadow: 0 12px 25px 10px #39FF14;
    -moz-box-shadow: 0 12px 25px 10px #39FF14;
    -o-box-shadow: 0 12px 25px 10px #39FF14;
    box-shadow: 0 12px 25px 10px #39FF14;
    -webkit-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
}