{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
<div class="container">
    <div id="page-title-div">
        <h1>Statistic</h1>
    </div>
    <figure class="profile-area">
        <div class="profile-image">
            <img id="img-profile" src="{% static photo_path %}" alt="profile-img">
        </div>
        <figcaption>
        <h3 id="user-name">{{ username }}</h3>
        </figcaption>
    </figure>
    <div id="stats-card-area">
        <figure class="stats-card" >
                  <figcaption><i class="fa fa-address-book-o" aria-hidden="true"></i>
                    <h3>Friends</h3>
                    <p>{{ number_of_friends }} People</p>
                  </figcaption>
                </figure>
        <figure class="stats-card">
              <figcaption><i class="fa fa-rss" aria-hidden="true"></i>
                <h3>Feeds</h3>
                <p>{{ number_of_feeds }} Post</p>
              </figcaption>
            </figure>
    </div>
    <div id="post-area">
        <h2 id="latest-post-title">Latest Post</h2>
        {% if user_post %}
            {% for data in user_post %}
                <div class="post-container">
                  <div>
                      <div class="post-header">
                    <div class="post-author--no-cover">
                        <img id="img-profile-post-area" src="{% static photo_path %}" alt="profile-img">
                        <h3>{{ username }}</h3>
                    </div>
                  </div>

                  <div class="post-body">
                    <div class="post-summary">
                      <p>{{ data.post }}</p>
                    </div>
                  </div>

                  <div class="post-footer">
                    <ul>
                      <li class="published-date">{{ data.date }}</li>
                    </ul>
                  </div>
                  </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}